{% extends "base.html" %}

{% block content %}
<form action="/getdata" method="POST">
    <div class="container">
        <div class="container">
            <div class="form-group">
                <style type="text/css">
                    body {
                        background-color: black;

                    }
                    .checkbox-inline{
                        color: white;
                    }
                    .label1{
                        color: white;
                    }
                    .label2{
                        color: white;
                    }
                    .label3{
                        color: white;
                    }
                </style>
                <label class="label1" for="minWordLen">Minimum Word Length:</label>
                <select class="form-inline" name="minWordLen" id="minWordLen">
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <br>
                <label class="label2" for="maxWordLen">Maximum Word Length:</label>
                <select class="form-inline" name="maxWordLen" id="maxWordLen">
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
                <br>
                <label class="label1" for="maxOverLen">Maximum Password Length:</label>
                <select class="form-inline" name="maxOverLen" id="maxOverLen">
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                </select>
            </div>
            <div class="form-group">
                <label class="checkbox-inline" for="numSub"><input type="checkbox" name="numSub" id="numSub" value="value">Number Subsition</label>
        </div>
    <button type="submit" class="btn btn-succes">Generate</button>
    </div>
</form>
{% endblock %}